@font-face {
  font-family: "FS Joey Medium Regular";
  src: url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.eot");
  src: url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/68872ce7bf957bd250d67f5be7d58a3d.svg#FS Joey Medium Regular")
      format("svg");

  font-family: "NuvoWebPro-Black W03 Regular";
  src: url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.eot");
  src: url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/319aac7ec4fdab1a7b3f36b93617529f.svg#NuvoWebPro-Black W03 Regular")
      format("svg");
}
/* Intro.css */
.intro {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto; /* Add this to contain floated elements */
}

.image {
  float: left; /* Float the image to the left */
  margin-right: 20px; /* Add some space between the image and text */
}

.image img {
  max-width: 350px;
  height: auto;
}

.text {
  overflow: hidden; /* Clear the float so that text wraps around the image */
}

.text h2 {
  font-size: 24px;
  color: #333;
}

.text p {
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

.text ul {
  list-style-type: disc;
  padding-left: 20px;
}

.text li {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .text {
    margin: 20px 0;
  }

  .image {
    float: none; /* Remove float on smaller screens */
    margin-right: 0;
  }

  .image img {
    margin-bottom: 20px;
  }
}
