.two-column-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 20px;
  gap: 20px;
}

.content-column {
  flex: 1;
  max-width: 80%;
  word-wrap: break-word;
  overflow-x: hidden;
}

.content pre {
  max-width: 100%;
}

.sidebar-column {
  flex: 0 0 auto; /* Set flex to auto to avoid excessive space */
  padding: 20px;
  background-color: #d3d3d3;
  width: 200px; /* Set a fixed width */
  min-width: 200px;
  border-radius: 10px;
}
